@page "{handler?}"
@using System.Globalization

@model ProcessedFilesModel

@{
    ViewData["Title"] = "Processed Files";
}

<h1>Most recent processed files</h1>



@if (!Model.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}

@if(Model.ProcessedFiles is { Length: > 0 })
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Offloc
                </th>
            </tr>
            <tr>
            <th>File name</th>
            <th>Date</th>
            <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var file in Model.OffLocFiles)
            {
                <tr>
                    <td>@file.FileName</td>
                    <td>@file.ValidFrom.ToString(new CultureInfo("en-GB"))</td>
                    <td>@file.Status</td>
                </tr>
            }
        </tbody>        
    </table>

     <table class="table table-striped table-bordered mt-2">
        <thead>
            <tr>
                <th>
                    Delius
                </th>
            </tr>
            <tr>
            <th>File name</th>
            <th>Date</th>
            <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var file in Model.DeliusFiles)
            {
                <tr>
                    <td>@file.FileName</td>
                    <td>@file.ValidFrom.ToString(new CultureInfo("en-GB"))</td>
                    <td>@file.Status</td>
                </tr>
            }
        </tbody>        
    </table>


}